<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>TOMSA</title>
        <link rel="stylesheet" href="/static/css/handsontable.full.min.css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    </head>
    <body>
        <h2>節点入力データ</h2>

    <div id="grid_node" />
    <br/>
    <h2>ばね入力データ</h2>
    <div id="grid_spring" />
    <script src="/static/js/handsontable.full.min.js"></script>
    <script src="/static/js/tables.js"></script>
    <br/>



    <input id="button" type="button" value="Calculation" onclick="calculation();" />
    <input type="button" value="Reset" onclick="location.reload();" />
    <div id="show_result" />

    </body>
</html>